* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

:root {
    --yellow: #faf2a0;
    --yellow-hover: rgba(225, 195, 142, 0.7);
    --white: whitesmoke;
    --red: red;
}

a {
    text-decoration: none !important;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo-shadow {
    filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
}

ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}

/* scrollbar */
/* chrome, safari, opera */
body::-webkit-scrollbar {
    display: none;

    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
}

/* navbar */
.navbar-nav {
    background-color: var(--yellow) !important;
    border: 1px solid var(--yellow);
    padding: 0.2rem 0.5rem;
}

nav li:hover {
    background-color: var(--yellow-hover);
    border-radius: 2rem;
}

/* wishlist */
.card {
    position: relative;
}

.fa-heart {
    background-color: var(--white);
    padding: 1rem;
    border: 1px solid var(--white);
    border-radius: 50%;

    position: absolute;
    top: 7%;
    right: 7%;
}

.fa-heart:hover {
    color: var(--red);
    cursor: pointer;
    transform: scale(1.1);
}

/* comparator */
.list-cover {
    height: 50%;
}