* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

:root {
    --yellow: #faf2a0
}

a {
    text-decoration: none !important;
}

/* navbar */
nav {
    background-color: var(--yellow) !important;
}